apiVersion: v1
kind: Service
metadata:
  name: "hello-service"
spec:
  type: LoadBalancer
  ports:
    - name: "http"
      port: 8080
      targetPort: 80
      protocol: TCP
  selector:
    app: "hello-service"